<div class="section mt-5">
  <h3 class="mb-4">Customer Master</h3>
  <div class="container-fluid mt-4">
    <div class="card-custom">
      <!-- Form -->
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="row g-4">

        <!-- Customer Name -->
        <div class="col-md-3">
          <label class="form-label">Customer Name</label>
          <!-- <input type="text" class="form-control" formControlName="cust_Name" placeholder="Enter customer name"> -->
          <input type="text" id="cust_Name" autocomplete="off" class="form-control" formControlName="cust_Name"
            name="cust_Name"
            [ngClass]="{ 'is-invalid': customerForm.get('cust_Name')?.invalid && (customerForm.get('cust_Name')?.touched || customerForm.get('cust_Name')?.dirty) }"
            placeholder="Enter Customer Name" />
          @if (customerForm.get('cust_Name')?.errors?.['required'] && (customerForm.get('cust_Name')?.touched ||
          customerForm.get('cust_Name')?.dirty)) {
          <div class="invalid-feedback">Customer Name is required.</div>
          }
          @if (customerForm.get('cust_Name')?.errors?.['pattern'] && (customerForm.get('cust_Name')?.touched ||
          customerForm.get('cust_Name')?.dirty)){
          <div class="invalid-feedback">Only letters allowed and no multiple spaces.</div>
          }
        </div>

        <!-- Email -->
        <div class="col-md-3">
          <label class="form-label">Email</label>
          <!-- <input type="email" class="form-control" formControlName="cust_Email" placeholder="Enter email"> -->
          <input type="email" class="form-control" formControlName="cust_Email" placeholder="Enter email">
          <!-- Validation messages -->
          @if (customerForm.get('cust_Email')?.touched && customerForm.get('cust_Email')?.invalid) {
          <div class="text-danger mt-1">
            @if (customerForm.get('cust_Email')?.errors?.['required']) {
            <small>Email is required</small>
            }
            @if (customerForm.get('cust_Email')?.errors?.['pattern']) {
            <small>Enter a valid email address</small>
            }
          </div>
          }
        </div>

        <!-- Phone Number -->
        <div class="col-md-3">
          <label class="form-label">Phone Number</label>
          <!-- <input type="text" class="form-control" formControlName="cust_PhoneNo" placeholder="Enter phone number"> -->
          <input type="text" name="cust_PhoneNo" id="cust_PhoneNo" autocomplete="off" class="form-control"
            formControlName="cust_PhoneNo"
            [ngClass]="{ 'is-invalid': customerForm.get('cust_PhoneNo')?.invalid && isSubmitted }"
            placeholder="Enter Phone Number" />
          @if (customerForm.get('cust_PhoneNo')?.errors?.['required'] && isSubmitted) {
          <div class="invalid-feedback">Phone is required.</div>
          }
          @if (customerForm.get('cust_PhoneNo')?.errors?.['pattern'] && isSubmitted) {
          <div class="invalid-feedback">Enter a valid phone number.</div>
          }
        </div>

        <!-- GST No -->
        <div class="col-md-3">
          <label class="form-label">GST No</label>
          <!-- <input type="text" class="form-control" formControlName="gstNo" placeholder="Enter GST number"> -->
          <input type="text" id="gstNo" autocomplete="off" class="form-control" formControlName="gstNo" name="gstNo"
            [ngClass]="{ 'is-invalid': customerForm.get('gstNo')?.invalid && (customerForm.get('gstNo')?.touched || customerForm.get('gstNo')?.dirty) }"
            placeholder="Enter GST-NO" />
          @if (customerForm.get('gstNo')?.errors?.['required'] && (customerForm.get('gstNo')?.touched ||
          customerForm.get('gstNo')?.dirty)) {
          <div class="invalid-feedback">GST Number is required.</div>
          }
          @if (customerForm.get('gstNo')?.errors?.['pattern'] && (customerForm.get('gstNo')?.touched ||
          customerForm.get('gstNo')?.dirty)) {
          <div class="invalid-feedback">Only letters & numbers allowed and no multiple spaces.</div>
          }
        </div>

        <!-- Address -->
        <div class="col-md-6">
          <label>Address</label>
          <textarea class="form-control" rows="2" formControlName="cust_Address" placeholder="Enter address"
            [ngClass]="{ 'is-invalid': customerForm.get('cust_Address')?.invalid && isSubmitted }">
          </textarea>
          <!-- Error Messages with @if -->
          @if (customerForm.get('cust_Address')?.errors?.['required'] && isSubmitted) {
          <div class="invalid-feedback">Address is required.</div>
          }
          @if (customerForm.get('cust_Address')?.errors?.['pattern'] && isSubmitted) {
          <div class="invalid-feedback">Address invalid enter valid email.</div>
          }
          <!-- @if (customerForm.get('cust_Address')?.errors?.['maxlength'] && isSubmitted) {
          <div class="invalid-feedback">Address cannot exceed 200 characters.</div>
          } -->
        </div>

        <!-- Status -->
        <div class="col-md-6 mb-3" *ngIf="isEditMode">
          <div class="form-group">
            <label class="form-label">Status</label>
            <mat-radio-group formControlName="isActive" class="d-flex gap-3">
              <mat-radio-button [value]="true">Active</mat-radio-button>
              <mat-radio-button [value]="false">Inactive</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>


        <div class="card-action d-flex justify-content-center align-items-center gap-2 mt-3">
          <button type="submit" class="btn btn-primary me-2">
            {{ isEditMode ? 'Update' : 'Add' }} Customer
          </button>
          <button type="button" class="btn btn-danger me-2" (click)="resetForm()"> Cancel </button>
          <button type="button" class="btn btn-success" (click)="toggleList()">
            {{ showList ? 'Hide List' : 'Show List' }}
          </button>
        </div>
      </form>

      <hr />

      <!-- Customer List -->
      <div class="list-container mt-4" *ngIf="showList">
        <h3>Customers</h3>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>GST No</th>
              <th>Address</th>
              <th>Active</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of customers">
              <td>{{ c.cust_Id }}</td>
              <td>{{ c.cust_Name }}</td>
              <td>{{ c.cust_Email }}</td>
              <td>{{ c.cust_PhoneNo }}</td>
              <td>{{ c.gstNo }}</td>
              <td>{{ c.cust_Address }}</td>
              <td>{{ c.isActive ? 'Yes' : 'No' }}</td>
              <td>
                <button class="btn btn-sm btn-warning" (click)="onEdit(c)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>