<div class="d-flex justify-content-end mb-2 sticky-action-col">
  <input type="text" class="form-control form-control-sm w-auto" placeholder="Search..." [(ngModel)]="searchTerm"
    (input)="onSearchChange()" />
</div>
<div class="table-responsive" style="overflow-x: auto;">


  <table class="table text-white" style="min-width: 800px;">
    <thead>
      <tr>
        <th class="sticky-action-col">Action</th>
        <th *ngFor="let col of columns">{{ col.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of pagedData">
        <td class="sticky-action-col">
          <span class="sticky-btn" (click)="onEdit(row)" title="Edit">
            <i class="fas fa-edit"></i>
          </span>
        </td>
        <td *ngFor="let col of columns">{{ row[col.key] }}</td>
      </tr>
    </tbody>

  </table>
</div>


<div class="pagination-controls mt-3 d-flex align-items-center justify-content-end gap-2">
  <button class="btn btn-sm btn-dark" (click)="goToPreviousGroup()" [disabled]="paginationGroupStart === 0">
    &laquo;
  </button>

  <button class="btn btn-sm btn-dark" (click)="previousPage()" [disabled]="currentPage === 0">
    Previous
  </button>

  <ng-container *ngFor="let page of pageNumbers.slice(paginationGroupStart, paginationGroupStart + pagesPerGroup)">
    <button class="btn btn-sm"
      [ngClass]="{ 'btn-primary': currentPage === page, 'btn-outline-primary': currentPage !== page }"
      (click)="goToPage(page)">
      {{ page + 1 }}
    </button>
  </ng-container>

  <button class="btn btn-sm btn-dark" (click)="nextPage()" [disabled]="(currentPage + 1) >= pageCount">
    Next
  </button>

  <button class="btn btn-sm btn-dark" (click)="goToNextGroup()"
    [disabled]="paginationGroupStart + pagesPerGroup >= pageCount">
    &raquo;
  </button>
</div>