@use 'variables';
@use 'mixins';
@use 'theme';
@use 'utilities';
@use 'navbar';
@use 'dashboard';
@use 'section';
@use 'form';
@use 'button';

// Default styles
body {
  font-family: 'Roboto', sans-serif; 
  margin: 0;
  padding: 0;
}
